.scroll-btn{

position:fixed;

bottom:30px;

right:30px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#7C3AED;

color:white;

font-size:18px;

cursor:pointer;

box-shadow:0 0 30px rgba(124,58,237,.5);

transition:.3s;

z-index:999;

}

.scroll-btn:hover{

transform:translateY(-8px);

background:#8B5CF6;

}