.about{

min-height:100vh;

padding:120px 8%;

display:grid;

grid-template-columns:1fr 1fr;

gap:60px;

align-items:center;

}

.section-title{

display:inline-block;

padding:10px 20px;

border-radius:30px;

background:#141b2d;

color:#8b5cf6;

margin-bottom:20px;

}

.about h2{

font-size:45px;

margin-bottom:25px;

}

.about h2 span{

color:#7c3aed;

}

.about p{

line-height:1.9;

color:#9ca3af;

margin-bottom:35px;

}

.info{

display:grid;

gap:20px;

}

.info-box{

display:flex;

align-items:center;

gap:20px;

background:#111827;

padding:20px;

border-radius:16px;

border:1px solid #22293b;

transition:.3s;

}

.info-box:hover{

transform:translateY(-8px);

border-color:#7c3aed;

}

.info-box svg{

font-size:28px;

color:#7c3aed;

}

.info-box h4{

margin-bottom:5px;

}

.info-box span{

color:#9ca3af;

}

.code-card{

background:#111827;

border-radius:25px;

padding:35px;

border:1px solid #22293b;

box-shadow:0 15px 40px rgba(124,58,237,.2);

}

.code-icon{

font-size:55px;

color:#7c3aed;

margin-bottom:30px;

}

.terminal{

font-family:monospace;

font-size:18px;

line-height:2;

color:#e5e7eb;

}

@media(max-width:992px){

.about{

grid-template-columns:1fr;

}

.about h2{

font-size:36px;

}

}
