.footer{

padding:70px 10%;

background:#0D111D;

border-top:1px solid #1F2937;

text-align:center;

}

.footer h2{

font-size:32px;

color:#7C3AED;

margin-bottom:10px;

}

.footer p{

color:#94A3B8;

margin-bottom:25px;

}

.footer-social{

display:flex;

justify-content:center;

gap:18px;

margin-bottom:30px;

}

.footer-social a{

width:52px;

height:52px;

background:#111827;

display:flex;

justify-content:center;

align-items:center;

border-radius:50%;

font-size:22px;

transition:.3s;

}

.footer-social a:hover{

background:#7C3AED;

transform:translateY(-8px);

}

.copyright{

display:flex;

justify-content:center;

align-items:center;

gap:10px;

color:#94A3B8;

}

.heart{

color:red;

animation:beat 1s infinite;

}

@keyframes beat{

50%{

transform:scale(1.2);

}

}