.experience{

padding:120px 8%;

}

.timeline{

position:relative;

margin-top:70px;

}

.timeline::before{

content:"";

position:absolute;

left:22px;

width:3px;

height:100%;

background:#7c3aed;

}

.timeline-item{

display:flex;

gap:35px;

margin-bottom:55px;

}

.timeline-dot{

width:18px;

height:18px;

background:#7c3aed;

border-radius:50%;

margin-top:12px;

box-shadow:0 0 15px #7c3aed;

}

.timeline-content{

background:#111827;

padding:25px;

border-radius:18px;

border:1px solid #22293b;

flex:1;

transition:.3s;

}

.timeline-content:hover{

transform:translateX(10px);

border-color:#7c3aed;

}

.timeline-content span{

color:#8b5cf6;

font-weight:600;

}

.timeline-content h3{

margin:10px 0;

}

.timeline-content h4{

color:#cbd5e1;

margin-bottom:15px;

}

.timeline-content p{

color:#94a3b8;

line-height:1.7;

}