.stats{

padding:80px 10%;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.stat-card{

background:#111827;

padding:40px;

border-radius:20px;

text-align:center;

transition:.3s;

border:1px solid #22293B;

}

.stat-card:hover{

transform:translateY(-10px);

border-color:#7C3AED;

}

.stat-card h2{

font-size:45px;

color:#7C3AED;

margin-bottom:15px;

}

.stat-card p{

color:#94A3B8;

}

@media(max-width:900px){

.stats{

grid-template-columns:repeat(2,1fr);

}

}